<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="spring_project.notlockeduser"/>

<!--    <context:property-placeholder location="classpath:taxi.properties"/>-->

<!--    <bean id="car1"-->
<!--          class="spring_project.notlockeduser.Car1"-->
<!--          scope="prototype">-->
<!--    </bean>-->

<!--    <bean id="car2"-->
<!--          class="spring_project.notlockeduser.Car2"-->
<!--          scope="prototype">-->
<!--    </bean>-->

<!--    <bean id="car3"-->
<!--          class="spring_project.notlockeduser.Car3"-->
<!--          init-method="init"-->
<!--          destroy-method="destroy"-->
<!--          factory-method="getCar3"-->
<!--          scope="singleton">-->
<!--    </bean>-->

<!--    <bean id="taxi"-->
<!--          class="spring_project.notlockeduser.Taxi">-->

<!--        <property name="cars">-->
<!--            <list>-->
<!--                <ref bean="car1"/>-->
<!--                <ref bean="car2"/>-->
<!--                <ref bean="car3"/>-->
<!--            </list>-->
<!--        </property>-->

<!--        <property name="name" value="${name}"/>-->
<!--        <property name="cost" value="${cost}"/>-->
<!--    </bean>-->
</beans>